{% extends "base_generic.html" %}
{% block content %}
{% if user.is_authenticated  %}{% if user.is_superuser %}
<style> .links {display: inline-block;}</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-2" style="margin-top: 18%;">Detalles Sucursal</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label class="h3" style="margin-top: 8%;" for="formGroupExampleInput">id sucursal: </label><p class="h3">{{sucursalest.id_suc}}</p>
                        <label class="h3" style="margin-top: 8%;" for="formGroupExampleInput">Direccion: </label><p class="h3">{{sucursalest.direccion_lugar}}</p>
                        <label class="h3" style="margin-top: 5%;" for="formGroupExampleInput">Nombre sucursal: </label><p class="h3">{{sucursalest.nom_sucursal}}</p>
                        <label class="h3" style="margin-top: 5%;" for="formGroupExampleInput">Fono Sucursal: </label><p class="h3">{{sucursalest.fono_suc}}</p>
                        <a class="links h3 btn btn-danger btn-lg mr-3" href="{% url 'sucursal_delete' pk=sucursalest.id_suc %}">Eliminar</a>
                        <a class="links h3 btn btn-danger btn-lg" href="{% url 'sucursal_update' pk=sucursalest.id_suc %}">Actualizar</a>
                    </div>
                </div>
            </form>      
        </div>
    </div>
</div>
{% endif %}
{% else %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label class="display-4" style="margin-top: 18%; margin-bottom: 10%;" for="formGroupExampleInput">¡¡¡ERROR; DEBE SER UN USUARIO STAFF!!!</label>
                        <p class="h1"><em>401</em></p>
                        <p class="h3" style="margin-bottom: 10%;"><em>Unauthorized :(</em></p>
                    </div>
                </div>
            </form>      
        </div>
    </div>
</div>
{% endif %}
{% endblock %}