{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated  %}{% if user.is_superuser %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-2" style="margin-top: 18%;">Añadir / Actualizar puestos</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                      <table class="form_cons colorletra table table-hover table-active h3">
                        <style>.colorletra {color: #ffffff; } td:hover {color: #911111;}</style>
                        {{ form|crispy }}
                      </table>
                    </div>
                    <button type="submit" style="margin-top: 8%; margin-bottom: 12%;" class="btn btn-outline-danger btn-block">Enviar</button>
                </div>
            </form>      
        </div>
    </div>
</div>
{% endif %}
{% else %}
<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-8">
          <form action="" method="POST">
              {% csrf_token %}
              <div class="card-body">
                  <div class="form-group">
                      <label class="display-4" style="margin-top: 18%; margin-bottom: 10%;" for="formGroupExampleInput">¡¡¡ERROR; DEBE SER UN USUARIO STAFF!!!</label>
                      <p class="h1"><em>401</em></p>
                      <p class="h3" style="margin-bottom: 10%;"><em>Unauthorized :(</em></p>
                  </div>
              </div>
          </form>      
      </div>
  </div>
</div>
{% endif %}
{% endblock %}