<div textAlign="center" class="dsc-example">
    <div class="row col-12">
        <h1 class="text-success my-5 ">MI PERFIL
        </h1>
    </div>
    <div textAlign="center" class="col-12">
        <div>Rut:<div textAlign="center" class="text-primary">20840253-1</div></div>
        <div>Ingresar Nombre Completo:<input type="text"></div>
        <div>Patente Auto:<input type="hidden"></div>
        <div><input type=""></div>
        Papeles Auto: <input type="FILE" name="file"/>    
    </div>
</div>
<br>
<div class="dsc-center"><div><input class="dsc-input" type="submit" name="Upload" value="SUBIR DATOS"></div>
</div>





