{% extends "base_generic.html" %}
{% block content %}
<div class="container text-center mt-3 mb-5">
    {% load static %}
    <img src="{% static 'images/m.png' %}" style="width:20%;" alt="icono">
    <P class="display-4">S <img src="{% static 'images/m.png' %}" style="width:50px;" alt="icono"> ART PARKING</P>
</div>
<div class="container">
    <div class="row">
        <div class='card p-5 mb-5 m-auto'>
            <div class="col-md-12">
                <div class="form-group">
                    <form action="" method="POST" >
                        {% csrf_token %}
                        <div class="blockquote">
                            <h6>Nombre de usuario:</h6>
                             {{ form.username.errors }}
                            {{ form.username }}<br><br>
                            <h6>Contraseña:</h5>
                            {{ form.password1 }}<br><br>
                            <h6>Confirme su Contraseña:</h5>
                            {{ form.password2 }}
                        </div>
                        <button type="submit" style="margin-top: 20%; margin-bottom: 30%;" class="btn btn-outline-info btn-block">Enviar</button>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
